
@property --top-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%;
}
@property --transparent-radius {
    syntax: '<length>';
    inherits: false;
    initial-value: 0vh;
}
@property --left-pos {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%;
}

.container {
    flex-wrap: wrap;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: between-items;
    z-index: 2; /* Ensure content inside container is above the blur */
}

.cart-container {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px;
  color: var(--secondary-color);
  flex: 0 1 25%;
  margin: 20px;
  animation: starting;
  animation-duration: 3s;
  /* animation-delay: 1s; */

}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-header h2 {
  margin: 0;
  font-size: 24px;
  color: var(--accent-color);
}

.cart-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.cart-footer a {
  color: var(--accent-color);
  text-decoration: none;
}

.cart-footer a:hover {
  text-decoration: underline;
}


.price-container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.price-container .price-label {
  display: block;
  font-size: 14px;
  color: var(--accent-color);
  margin-bottom: 5px;
}

@keyframes starting {
  0%{transform: translate(0px, -200px);
  opacity: 0.0;}
  33%{transform: translate(0px, -200px);
    opacity: 0.05;}
  100%{transform: translate(0px, 0px);
  opacity: 1;}
  
}